@use 'variables';
@use 'mixins';

@include mixins.parent {
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    margin-bottom: variables.$margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:empty {
      display: none;
    }
  }
}
