@use 'variables';
@use 'mixins';

#{variables.$root} {
  line-height: variables.$line-height;
  font-size: variables.$font-size-base;

  @if variables.$enable-text-inflation {
    text-size-adjust: variables.$text-size-adjust;
  }

  @if variables.$enable-custom-colors {
    background-color: variables.$background-body;
    color: variables.$text;
  }

  @if variables.$enable-custom-fonts {
    @include mixins.font('base');
  }

  @if variables.$enable-font-smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  text-rendering: optimizeLegibility;

  /* stylelint-disable property-no-unknown */
  @if variables.$enable-content-visibility {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
  }
  /* stylelint-enable property-no-unknown */

  @if variables.$enable-lead-paragraph and variables.$lead {
    #{variables.$lead} {
      font-size: 1.25em;
    }
  }
}
