// Typography

$family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$family-code: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas',
  'Liberation Mono', 'Courier New', monospace !default;
$family-default-var: null !default;
$family-code-var: null !default;

$weight-bold: 700 !default;
$weight-headings: $weight-bold !default;

$font-size: 1rem !default;
$text-size-adjust: 100% !default;

// Colors

$color-link: hsl(209, 100%, 42%) !default;
$color-monospace: hsl(344, 69%, 43%) !default;
$color-visited-link: hsl(293, 100%, 30%) !default;
$color-hovered-link: hsl(209, 99%, 46%) !default;

$color-muted: hsl(0, 0%, 45%) !default;
$color-default: hsl(0, 0%, 20%) !default;
$color-emphasis: hsl(0, 0%, 10%) !default;

$background-body: hsl(0, 0%, 100%) !default;
$background-code: hsl(0, 0%, 96%) !default;
$background-ins: hsl(137, 75%, 67%) !default;
$background-mark: hsl(42, 99%, 70%) !default;
$background-table: hsl(0, 0%, 100%) !default;
$background-table-even: hsl(0, 0%, 98%) !default;
$background-table-hover: hsl(0, 0%, 96%) !default;
$border: hsl(0, 0%, 90%) !default;
$opacity: 0.5 !default;

$radius: 3px !default;
$image-radius: $radius !default;
$codeblock-radius: $radius !default;

$text: $color-default !default;
$text-code: $color-monospace !default;
$text-strong: $color-emphasis !default;
$text-muted: $color-muted !default;
$text-headings: $color-emphasis !default;
$text-blockquote: $color-muted !default;

$link: $color-link !default;
$link-hover: $color-hovered-link !default;
$link-visited: $color-visited-link !default;

$table-thead: $color-emphasis !default;

// Spacing
$line-height: 1.6 !default;
$margin: 1.4rem !default;

// Options
$closer-lists: false !default;
$custom-colors: false !default;
$custom-fonts: false !default;
$font-smoothing: false !default;
$text-adjusting: false !default;
$round-images: false !default;
$round-codeblocks: false !default;
$heading-borders: false !default;
$show-underline: false !default;
$table-hover: false !default;
$table-striped: false !default;
$visited-links: false !default;
$hovered-links: false !default;
$variable-fonts: false !default;
