@use '../../scss/variables' with (
  $compact-lists: true,
  $multiline-wrap: true,
  $custom-colors: true,
  $custom-fonts: true,
  $round-media: true,
  $round-blocks: true,
  $heading-borders: true,
  $hovered-links: true
);
