@use 'reset';
@use 'variables';

@use '../../scss/mixins';
@use '../../scss/remarkability.scss';
@use '../../node_modules/highlight.js/scss/github.scss';

$gap: calc(2vw + 1.5rem) !default;

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin vspace($space: $gap) {
  padding-top: $space;
  padding-bottom: $space;
}

body, .remarkability {
  @include tablet {
    max-width: 55vw;
  }
}

body {
  @include mixins.base-font;
  margin: 0 auto;
  padding: $gap;
}

header {
  h1 {
    background: linear-gradient(to bottom right, #e9606a, #8d85b6);
    background-clip: text;
    color: transparent;
    font-size: calc(2vw + 2rem);
    font-weight: 700;
  }

  .subtitle {
    @include vspace(calc(#{$gap} / 7));
    font-size: calc(2vw + 0.75rem);
    font-weight: 300;
    color: hsl(0, 0%, 33%);
  }
}

footer {
  font-size: 0.8rem;
  color: hsl(0, 0%, 33%);

  a {
    text-decoration: none;
    color: hsl(209, 100%, 42%);

    &:focus,
    &:hover {
      text-decoration: underline;
      color: hsl(209, 99%, 46%);
    }
  }
}

main {
  @include vspace;
}

.remarkability {
  table {
    code {
      @include tablet {
        white-space: pre;
      }
    }

    pre {
      padding: 1em 1.2em;
    }
  }
}
