@use 'reset';
@use 'variables';

@use '../../scss/remarkability.global.scss';
@use '../../node_modules/highlight.js/scss/github.scss';

$gap: calc(13vw - 2rem);
$gap-sm: 6vw;
$expanse: calc(100vh - 12vw);

@mixin vspace($space: $gap) {
  padding-top: $space;
  padding-bottom: $space;
}

@mixin tablet {
  @media screen and (min-width: 900px) {
    @content;
  }
}

.layout {
  padding: $gap-sm $gap;
}

.content,
.footer {
  @include tablet {
    max-width: 50vw;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $gap;

  @include tablet {
    max-width: 60vw;
    min-height: $expanse;
  }

  h1 {
    background: linear-gradient(to bottom right, #e9606a, #8d85b6);
    background-clip: text;
    color: transparent;
    border: none;
    font-size: calc(5vw + 1.5rem);
  }

  .subtitle {
    @include vspace(calc((12vw - 0.75rem) / 7));
    font-size: calc(2vw + 0.75rem);
    color: hsl(0, 0%, 33%);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  color: hsl(0, 0%, 33%);
  padding-top: $gap-sm;

  > * {
    margin-right: 0.5rem;
  }
}

table {
  code {
    @include tablet {
      white-space: pre;
    }
  }

  pre {
    padding: 1em 1.2em;
  }
}

.hljs {
  padding: 1em 1.2em !important;
}
