@use 'reset';
@use 'variables';

@use '../../scss/remarkability.global.scss';
@use '../../node_modules/highlight.js/scss/github.scss';

$gap: calc(13vw - 2rem);
$gap-sm: 6vw;
$expanse: calc(100vh - 26vw + 4rem);

@mixin vspace($space: $gap) {
  padding-top: $space;
  padding-bottom: $space;
}

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;
  
  & > * {
    flex-grow: 1;
  }
  
  display: grid;
  padding: $gap-sm $gap;
  max-width: 100vw;
}

@media screen and (min-width: 600px) {
  .header,
  .content,
  .footer {
    flex-basis: 50%;
    margin-right: 25% !important;
    margin-left: 25% !important;
  }
  
  .layout {
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  .header,
  .content,
  .footer {
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 599px) {
  .header,
  .content,
  .footer {
    flex-basis: 90%;
    max-width: 90vw;
    grid-column: 1 / -1;
  }
}

@supports (display: grid) {
  .layout > * {
    flex-basis: auto;
  }
  
  .header,
  .content,
  .footer {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.header {
  margin-bottom: $gap;

  @include tablet {
    min-height: $expanse;
  }

  h1 {
    background: linear-gradient(to bottom right, #e9606a, #8d85b6);
    background-clip: text;
    color: transparent;
    border: none;
    font-size: calc(5vw + 1.5rem);
  }

  .subtitle {
    @include vspace(calc((12vw - 0.75rem) / 7));
    font-size: calc(2vw + 0.75rem);
    color: hsl(0, 0%, 33%);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  color: hsl(0, 0%, 33%);
  padding-top: $gap-sm;

  > * {
    margin-right: 0.5rem;
  }
}

table {
  code {
    @include tablet {
      white-space: pre;
    }
  }

  pre {
    padding: 1em 1.2em;
  }
}

.hljs {
  padding: 1em 1.2em !important;
}
