@use 'variables';
@use 'mixins';

#{variables.$root} {
  @include mixins.context($selector: variables.$root) {
    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
      margin-bottom: variables.$margin;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    p {
      &:empty {
        display: none;
      }
    }
  }
}
