@use 'variables';
@use 'mixins';

#{variables.$root} {
  @include mixins.context($selector: variables.$root) {
    img {
      vertical-align: text-bottom;
  
      @if variables.$enable-media-radius {
        border-radius: variables.$media-radius;
      }
    }
  
    figure {
      margin-bottom: variables.$margin * 2;
      text-align: center;
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    figcaption {
      font-size: variables.$font-size-small;
      margin-top: variables.$margin / 1.6;
  
      @if variables.$enable-custom-colors {
        color: variables.$text-muted;
      }
    }
  }  
}
