@use '../../../../node_modules/@microflash/remarkability/scss/variables' with (
  $root: 'body',
  $enable-selection-background: true,
  $enable-custom-colors: true,
  $enable-custom-fonts: true,
  $enable-media-radius: true,
  $enable-block-radius: true,
  $enable-heading-border: true,
  $enable-active-links: true
);
