---
layout: base.njk
title: 404 Page not found
permalink: 404.html
---

{% set msgs = ["There's nothing here.", "How did we get here?", "That's a Four-Oh-Four.", "Looks like we've got some broken links."] %}

<h1>404</h1>

<blockquote>{{ msgs | random }}</blockquote>

<a href="/">Take me home.</a>
