.r11y {
  background-color: var(--r11y-background-body);
  color: var(--r11y-text);
}

.r11y a {
  color: var(--r11y-link);
}

.r11y a:focus {
  color: var(--r11y-link-focus);
}

.r11y a:hover {
  color: var(--r11y-link-hover);
}

.r11y a:visited {
  color: var(--r11y-link-visited);
}

.r11y figcaption {
  color: var(--r11y-text-muted);
}

.r11y h1,
.r11y h2,
.r11y h3,
.r11y h4,
.r11y h5,
.r11y h6 {
  color: var(--r11y-text-headings);
}

.r11y input,
.r11y textarea {
  color: var(--r11y-text);
}

.r11y blockquote {
  color: var(--r11y-text-blockquote);
}

.r11y code,
.r11y kbd,
.r11y samp {
  color: var(--r11y-text-code);
}

.r11y thead th,
.r11y thead td,
.r11y tfoot th,
.r11y tfoot td {
  color: var(--r11y-table-thead);
}
