.r11y thead tr,
.r11y tfoot tr {
  background-color: var(--r11y-border-color);
}

.r11y tbody tr:nth-child(even) {
  background-color: var(--r11y-background-table-even);
}

.r11y tbody tr:hover {
  background-color: var(--r11y-background-table-hover);
}
