.r11y h1,
.r11y h2,
.r11y h3,
.r11y h4,
.r11y h5,
.r11y h6 {
  font-weight: var(--r11y-weight-headings);
  line-height: 1.2;
}

.r11y h1:first-child,
.r11y h2:first-child,
.r11y h3:first-child,
.r11y h4:first-child,
.r11y h5:first-child,
.r11y h6:first-child {
  margin-top: 0;
}

.r11y h1 {
  font-size: 2.5em;
  margin-top: calc(var(--r11y-margin) * 2 / 2.5);
  margin-bottom: calc(var(--r11y-margin) / 2.5);
  line-height: 1.5;
}

.r11y h2 {
  font-size: 2em;
  margin-top: calc(var(--r11y-margin));
  margin-bottom: calc(var(--r11y-margin) / 2);
  line-height: 1.4;
}

.r11y h3 {
  font-size: 1.5em;
  margin-top: calc(var(--r11y-margin) * 2 / 1.5);
  margin-bottom: calc(var(--r11y-margin) / 1.5);
}

.r11y h4 {
  font-size: 1.25em;
  margin-top: calc(var(--r11y-margin) * 2 / 1.25);
  margin-bottom: calc(var(--r11y-margin) / 1.25);
}

.r11y h5 {
  font-size: 1.125em;
  margin-top: calc(var(--r11y-margin) * 2 / 1.125);
  margin-bottom: calc(var(--r11y-margin) / 1.125);
}

.r11y h6 {
  font-size: 1em;
  margin-top: calc(var(--r11y-margin) * 2);
  margin-bottom: var(--r11y-margin);
}

.r11y h1 + * {
  margin-top: 1.5rem;
}

.r11y h2 + *,
.r11y h3 + *,
.r11y h4 + * {
  margin-top: 0;
}

.r11y h5 + * {
  margin-top: 0.25em;
}
