.r11y a {
  text-decoration: none;
  cursor: pointer;
}

.r11y a:focus,
.r11y a:hover {
  outline-width: thin;
  text-decoration: underline;
}

.r11y abbr {
  text-decoration: underline dotted;
  cursor: help;
}

.r11y cite {
  font-style: italic;
}

.r11y hr {
  background: var(--r11y-border-color);
  border: none;
  display: block;
  height: 1px;
  margin-top: var(--r11y-margin);
  margin-bottom: var(--r11y-margin);
}

.r11y mark,
.r11y del,
.r11y ins {
  border-radius: var(--r11y-radius);
  padding: 0.2ch 0.6ch;
  font-size: 0.95em;
}

.r11y del {
  background-color: var(--r11y-background-del);
}

.r11y ins {
  background-color: var(--r11y-background-ins);
  text-decoration: none;
}

.r11y mark {
  background-color: var(--r11y-background-mark);
}

.r11y summary {
  display: list-item;
}

.r11y details {
  display: block;
  border: 1px solid var(--r11y-border-color);
  padding: 0 0.75em 0;
}

.r11y details summary {
  background-color: var(--r11y-background-table-hover);
  margin: 0 -0.75em 0;
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.r11y details[open] {
  padding-bottom: 0.5em;
}

.r11y details[open] summary {
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--r11y-border-color);
}

.r11y small,
.r11y sub,
.r11y sup {
  font-size: var(--r11y-font-size-small);
}

.r11y strong {
  font-weight: var(--r11y-weight-bold);
}

.r11y sub {
  vertical-align: sub;
}

.r11y sup {
  vertical-align: super;
}

.r11y var {
  font-style: italic;
  font-weight: var(--r11y-weight-semibold);
}
