.r11y table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.r11y table pre {
  white-space: pre-wrap;
}

.r11y th {
  font-weight: var(--r11y-weight-bold);
}

.r11y th,
.r11y td {
  font-size: 1em;
  padding: calc(var(--r11y-margin) / 2.5) calc(var(--r11y-margin) / 2);
  border: 1px solid var(--r11y-border-color);
  line-height: 1.4;
}

.r11y thead tr,
.r11y tfoot tr {
  background-color: var(--r11y-background-table-hover);
}

.r11y thead th code,
.r11y thead td code,
.r11y tfoot th code,
.r11y tfoot td code {
  background-color: var(--r11y-background-table);
}

.r11y tbody tr {
  background-color: var(--r11y-background-table);
}
