@use '../scss/variables' with (
  $closer-lists: true,
  $custom-colors: true,
  $custom-fonts: true,
  $text-adjusting: true,
  $image-rounding: true,
  $codeblock-rounding: true,
  $heading-borders: true,
  $hovered-links: true
);
