$closer-lists: true !default;
$custom-colors: true !default;
$custom-fonts: true !default;
$text-adjusting: true !default;
$image-rounding: true !default;
$codeblock-rounding: true !default;
$heading-borders: true !default;
$hovered-links: true !default;
