@import "reset";
@import "variables";
@import "../scss/remarkability.scss";

$padding: 1.5rem;

@mixin phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop-mdpi {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-hdpi {
  @media (min-width: 1800px) {
    @content;
  }
}

body {
  margin: 0 auto;
  padding: $padding;
  color: hsl(0, 0, 100%);
  background-color: hsl(244, 59%, 15%);
  background-image: linear-gradient(to top, hsl(344, 69%, 43%) 0%, hsl(244, 59%, 15%) 100%);

  @include phone-only() {
    padding: 0;
  }

  @include tablet() {
    padding: 5rem;
    max-width: 90vw;
  }

  @include desktop-mdpi() {
    padding: 5rem;
    max-width: 65vw;
  }

  @include desktop-hdpi() {
    padding: 7rem;
    max-width: 60vw;
  }
}

header, footer {
  text-align: center;
  padding: $padding;
}

header {
  p {
    padding: $padding;
    font-size: 1.5rem;

    @include tablet() {
      padding: $padding 4rem $padding;
    }

    @include desktop-mdpi() {
      padding: $padding 5rem $padding;
    }

    @include desktop-hdpi() {
      padding: $padding 7rem $padding;
    }
  }
}

footer {
  font-size: 0.75rem;

  a {
    font-weight: 500;
    text-decoration: none;
    color: hsl(42, 99%, 70%);

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  padding: $padding;

  @include tablet() {
    padding: 5rem;
  }

  @include desktop-mdpi() {
    padding: 5rem;
  }

  @include desktop-hdpi() {
    padding: 7rem;
  }

  border: 1px solid hsl(0, 0%, 75%);
  background-color: hsl(0, 0, 100%);
}
